* {
	box-sizing: border-box;
	outline: none !important;
	padding: 0;
	margin: 0;
}

body {
	background: #111;
	/*cursor: pointer;*/
}
footer {
	position: absolute;
	bottom: 5%; left: 50%; right: 0;
	height: 15%;
	width: 200px;
	font-family: Arial, sans-serif;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	margin-left: -100px;
	text-align: center;
	z-index: 3;
	transition: .3s;
	&.active {
		opacity: 0;
		transform: translateY(30px);
	}
}

#canvas {
	position: absolute;
	z-index: 1;
}
#canvas2 {
	position: absolute;
	z-index: 2;
}

.mouse {
	position: absolute;
	z-index: 3;
	width: 50px; height: 50px;
	background: url(../img/mouse.svg) no-repeat center;
	background-size: 100%;
	opacity: .5;
	transform: scale(.8);
	transition: .3s cubic-bezier(.5,0,.6,1.5);
	bottom: 10%; left: 50%;
	margin-left: -25px;
	&:hover {
		transform: scale(1);
		opacity: 1;
	}
}